.blog_grid_gap {
  row-gap: 50px;
}

// Blog One
.blog-meta-two {
  transition: 0.3s;
  margin-bottom: 0;
  overflow: hidden;
  .post-img {
    display: inline-block;
    position: relative;
    margin-bottom: unset !important;
    overflow: hidden;
    padding: 0;
    a {
      overflow: hidden;
      img {
        transition: all 0.4s ease-in-out;
      }
    }

    .tags {
      font-size: 11px;
      letter-spacing: 0.5px;
      border-radius: 13px;
      padding: 5px 18px;
      color: #fff;
      text-transform: uppercase;
      background: var( --e-global-color-accent );
      position: absolute;
      left: 30px;
      bottom: 30px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .post-data {
    .blog-one-title {
      &:hover {
        text-decoration: none;
      }
    }
  }

  &:hover .post-img img {
    transform: scale3d(1.1, 1.1, 1);
  }

  .fw-500 {
    font-weight: 500;
  }

  .date a {
    color: #aaaaaa;

    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }

  .blog-title {
    font-family: "gordita";
    font-size: 32px;
    line-height: 1.28em;
    margin: 25px 0;
    font-weight: 500;
    color: #000000;
    transition: all .3s ease-in-out;

    &:hover {
      color: var( --e-global-color-accent );
    }

    &.two {
      font-size: 24px;
      line-height: 1.428em;
      margin-top: 10px;
      margin-bottom: 30px;
    }
  }

  .continue-btn {
    font-size: 18px;
    color: #000;
    letter-spacing: -1px;
    vertical-align: middle;
    font-weight: 500;
    transition: all 0.3s linear;

    i {
      margin-left: 5px;
    }

    &:hover {
      color: var( --e-global-color-accent );
      text-decoration: none;
    }

    &.btn-seven {
      font-weight: 500;
      padding: 13px 36px;
      text-align: center;
      border-radius: 50px;
      color: var( --e-global-color-accent );
      border: 1px solid var( --e-global-color-accent );
      transition: all 0.3s ease-in-out 0s;
      display: inline-block;
      text-align: center;

      &:hover {
        background: #244034;
        border-color: #244034;
        color: #fff;
      }
    }
  }

  &.box-layout {
    background: #fff;
    border-radius: 20px;
    padding: 20px 25px 50px;

    .post-img {
      border-radius: 15px;
    }
  }
}

.blog_item {
  a {
    &:hover {
      text-decoration: none !important;
    }
  }
}

// blog Two
.blog-meta-one {
  margin-top: 0;
  transition: 0.3s;

  .post-img {
    overflow: hidden;
    display: inline-block;
    padding: 0;
    img {
      transition: all 0.3s ease-in-out;
    }
  }

  .post-data {
    margin-top: 25px;

    .by-author {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
      color: #000000b3;
      margin-bottom: 0;
      padding-left: 0;
      text-transform: capitalize;

      .author-name {
        font-size: 16px;
        color: #212529;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .date {
    font-size: 14px;
    color: rgba($color: #000000, $alpha: 0.5);

    .fw-500 {
      font-weight: 500;
    }

    a {
      color: rgba($color: #000000, $alpha: 0.5);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .blog-title {
    font-family: "gordita";
    font-size: 24px;
    line-height: 1.4em;
    color: #000;
    margin: 6px 0 10px 0;
    transition: all .3s ease-in-out;

    &:hover {
      color: var( --e-global-color-accent );
    }
  }

  p {
    font-family: "gordita";
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
  }

  .continue-btn {
    font-size: 30px;
    color: #000;

    &:hover {
      text-decoration: none;
    }
  }

  .author {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);

    a {
      font-weight: 500;
      color: #000;
      transition: all 0.2s linear;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &:hover {
    .post-img img {
      transform: scale3d(1.1, 1.1, 1);
    }
  }

  .blog-tow-title {
    &:hover {
      text-decoration: none;
    }
  }
}

.blog-meta-one .tags {
  font-size: 15px;
  color: rgba($color: #000000, $alpha: 0.4);
  transition: all 0.2s linear;

  &:hover {
    color: #000;
    text-decoration: none;
  }
}


// Card Six
.item-margin {
  margin: 0 12px;
}
.card-style-six {
  display: flex;
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 350px;
  &:before {
    content: '';
    width: 100%;
    height: 30%;
    bottom: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    @include transition(0.2s);
  }
  &:hover:before {
    height: 100%;
  }
  .blog-item-six {
    padding: 0 0 20px 24px;
    text-decoration: none !important;
    .blog-six-title {
      font-family: "gordita";
      font-size: 22px;
      line-height: 1.3em;
      font-weight: 500;
      color: #fff;
    }
  }
}
.blog-slider-arrows {
  position: absolute;
  top: -60px;
  right: -2px;
  @media (min-width: 992px) and (max-width: 1201px) {
    top: -100px;
  }
  @media (min-width: 541px) and (max-width: 991px) {
    top: -80px;
  }
  @media only screen and (max-width: 540px) {
    position: static;
    margin-top: 20px;
  }
  .blog-slick-arrow {
    width: 40px;
    height: 35px;
    cursor: pointer;
    border: 1px solid #f5f5f5;
    text-align: center;
    line-height: 31px;
    font-size: 17px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out 0s;
    &:hover {
      background: #f5f5f5;
      color: #005025;
    }
  }
}

.spel-pagination {
  display: flex;
  align-items: center;
  .current {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    background: var( --e-global-color-accent );
  }
  a {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 500;
    color: var( --e-global-color-accent );
    &:hover {
      text-decoration: none;
    }
    &.prev, &.next {
      display: flex;
      align-items: center;
      width: auto;
      height: auto;
    }
  }
}