/*============== Tab Styles ==========*/
.tab_shortcode {
  margin-bottom: 0 !important;

  .tab-content {
    display: block;
    color: #6A737C;
    padding: 25px 30px;
    border: 1px solid #ebebeb;
    border-radius: 0 5px 5px 5px;
    background-color: #fff;
    position: relative;
    margin-top: -1px; 

    p {
      margin: 0;
    }

    .ezd_tab_arrow_btn {
      background: #0dcaf0;
      border-color: #0dcaf0;
      color: #fff;
    }

    .previous,
    .nexts {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 0;
      border-radius: 0;
      background: #e1ebf0;
      border: 0;
      color: #4c4cf1;
      outline: none;
      box-shadow: none;
      transition: all 0.4s linear;
      height: 32px;
      width: 19px;
      text-align: center;
      opacity: 0;

      &:hover {
        background: #A77DEF;
        color: #fff;
      }
    }

    .previous {
      left: 0;
    }

    .nexts {
      right: 0;
    }

    &:hover {
      .previous,
      .nexts {
        opacity: 1;
      }
    }
  }
}

.header_tab_items,
.tab_shortcode {
  .nav-tabs {
    .numb {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #A77DEF;
      display: inline-block;
      text-align: center;
      line-height: 20px;
      font-size: 12px;
      margin-right: 10px;
      transition: all 0.2s linear;
      color: #ffffff;
    }
  }
}

.header_tab_items {
  .nav-tabs {
    .nav-item {
      .nav-link {
        display: flex;
        align-items: center;
        border: none;
        box-shadow: none;
        background: transparent;
        border-radius: 0;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        padding: 10px 30px;
        text-decoration: none;
        transition: all 300ms linear 0s;
        gap: 8px;

        &.active {
          background: #ffffff;
          color: #A77DEF;
        }
      }
    }
  }
}

/* Sticky Tab Styles */
.process_tab_shortcode {
  .previous,
  .next {
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    padding: 0;
    border-radius: 0;
    background: #e1ebf0;
    border: 0;
    color: #A77DEF;
    outline: none;
    box-shadow: none;
    transition: all 0.4s linear;
    height: 32px;
    width: 19px;
    text-align: center;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:hover {
      background: #A77DEF;
      color: #fff;
      border-color: transparent #ebebeb;
    }
  }

  .next {
    right: -30px;
    border-radius: 5px 0 0 5px;
  }

  .previous {
    left: -30px;
    border-radius: 0 5px 5px 0;
  }

  &:hover {
    .next {
      right: 0;
    }

    .previous {
      left: 0;
    }
  }
}

/* Vertical Menu Styles */
.v_menu {
  border-bottom: 1px solid #e8ecee;
  padding-bottom: 20px;
  padding-top: 5px;
  margin-bottom: 20px;

  .nav-item {
    display: inline-block;

    .nav-link {
      font-size: 16px;
      color: #6A737C;
      transition: all 0.2s linear;
      padding: 0;
      border: 0;
      border-radius: 0;

      span {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #e1e3eb;
        display: inline-block;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        margin-right: 10px;
        transition: all 0.2s linear;
        position: relative;
        top: -2px;
      }

      &.active,
      &:hover {
        color: #A77DEF;
        border: 0;
        background: transparent;

        span {
          background: #A77DEF;
          color: #fff;
        }
      }
    }

    & + li {
      margin-left: 55px;
    }
  }
}

/* Sticky Tab in Admin Bar */
body.admin-bar .sticky_tab.tab_fixed.sticky_tab_item {
  top: -38px;
}

/* Sticky Tab Fixed Position */
.sticky_tab {
  &.tab_fixed {
    &.sticky_tab_item {
      position: fixed;
      width: 100%;
      top: -70px;
      left: 0;
      right: 0;
      background: #031933;
      transform: translateY(70px);
      transition: transform 500ms ease, background 500ms ease;
      z-index: 30;
    }
  }
}

/* Tabs Slider Styles */
.tabs_sliders {
  position: relative;
  overflow: hidden;

  .scroller-btn {
    position: absolute;
    top: 50%;
    color: #A77DEF;
    font-size: 20px;
    cursor: pointer;
    transform: translateY(-50%);
    left: 0;
    width: 40px;
    background: #f9f9f9;
    box-shadow: 4px 0 9px 1px rgba(0, 0, 0, 0.03);
    line-height: 44px;
    z-index: 1;
    text-align: center;

    /*&:before {
      content: "";
      width: 20px;
      height: 100%;
      background: linear-gradient(90deg, rgba(249, 249, 249, 0.8) 30%, rgb(249, 249, 249) 100%, rgb(249, 249, 249) 16%, rgb(249, 249, 249) 100%);
      position: absolute;
      right: -20px;
    }*/

    &.right {
      right: 0;
      left: auto;

      &:before {
        left: -20px;
        right: auto;
      }
    }

    &.inactive-left-arrow {
      display: none;
    }

    &.inactive-right-arrow {
      display: none;
    }

  }

  ul {
    &.nav-tabs {
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;
      margin-bottom: -1px;
      border: 0;
      .nav-item {
        margin: 0;
        min-width: fit-content;
        .nav-link {
          font-size: 16px;
          color: #6A737C;
          border-radius: 0;
          padding: 9px 20px;
          background: #f9f9f9;
          border: 1px solid #ebebeb;
          position: relative;
          text-decoration: none;
          margin-bottom: 0 !important;
          display: flex;
          gap: 8px;
          align-items: center;
          transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

          &:before {
            content: "";
            width: 0;
            height: 2.1px;
            background: #A77DEF;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: width 0.2s linear;
          }

          &.active {
            background: #fff;
            color: #242729;
            border-color: #ebebeb;
            border-bottom-color: transparent;
            z-index: 2;

            &:before {
              opacity: 1;
              width: 100%;
            }
          }
        }

        &:last-child {
          .nav-link {
            border-right: 1px solid #ebebeb;
          }
        }
      }
    }
  }
}

/* Process Tab Shortcode */
.process_tab_shortcode {
  .version {
    background: #f9f9f9;
    padding: 30px;
    font-size: 15px;
    margin-bottom: 28px;

    p {
      margin-bottom: 20px;
      font-size: 15px;
      color: #6b707f;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .v_head {
      padding-bottom: 24px;
    }

    .v_middle {
      p {
        margin-bottom: 0;
        font-size: 15px;

        .red {
          color: #f12249;
        }

        .green {
          color: #11c52f;
        }
      }
    }

    .v_footer {
      padding-top: 25px;

      p {
        margin-bottom: 0;
      }
    }
  }
}

/* Process Tab Shortcode */
.process_tab_shortcode {
  .previous,
  .next {
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    padding: 0;
    border-radius: 0;
    background: #e1ebf0;
    border: 0;
    color: #A77DEF;
    outline: none;
    box-shadow: none;
    transition: all 0.4s linear;
    height: 32px;
    width: 19px;
    text-align: center;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:hover {
      outline: none;
      box-shadow: none;
      background: #A77DEF;
      color: #fff;
    }
  }

  .next {
    right: -30px;
    border-radius: 5px 0 0 5px;
  }

  .previous {
    left: -30px;
    border-radius: 0 5px 5px 0;
  }

  &:hover {
    .next {
      right: 0;
    }

    .previous {
      left: 0;
    }
  }
}

/* Sticky Tab Styles */
body.remove {
  .tab_fixed {
    &.header_tab_items {
      transform: translateY(144px);
    }
  }
}

/* Header Tab Items */
.header_tab_items {
  background: #031933;

  &.tab_fixed {
    .nav.nav-tabs {
      li {
        a {
          svg,
          i,
          img {
            display: inline-block;
            margin-bottom: 0;
            position: relative;
            margin-right: 4px;
          }
        }
      }
    }

    .header_tab_content {
      margin-top: 61px;
      .tab-pane {
        padding: 0;
      }
    }
  }

  .nav.nav-tabs {
    justify-content: center;
    border: none;

    li {
      margin-bottom: 0;

      a {
        border: none;
        box-shadow: none;
        background: transparent;
        border-radius: 0;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        padding: 10px 30px;
        text-decoration: none;

        svg,
        i,
        img {
          display: block;
          margin-bottom: 2px;
        }

        &:hover {
          background: #ebebeb;
          color: #6A737C;

          svg {
            path {
              fill: #6A737C;
            }
          }
        }

        &.active {
          background-color: #fff;
          color: #A77DEF;

          svg {
            path {
              fill: #A77DEF;
            }
          }
        }
      }
    }
  }
}


/* Auto Tabs Styles */
.tab_shortcode,
.header_tab_items {
  .spe_auto_tabs {
    .nav-item {
      .nav-link {
        position: relative;
        overflow: hidden;

        &:before {
          display: none;
        }

        .tab_progress {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 2px;

          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0.4;
          }
        }

        .progress-bar {
          background: #a77def;
          height: 2px;
        }
      }
    }
  }
}