/*============ Start doc_feedback_area css ==========*/
.doc_feedback_info {
  position: relative;
}

.slider_nav {
  .arrow {
    width: 25px;
    height: 2px;
    background: #989dad;
    transition: all 0.3s ease-in-out;
    display: block;
    margin-top: 12px;

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 15px;
      height: 2px;
      left: -2px;
      background-color: #bdb4b4;
      transition: all 0.3s ease-in-out;
    }
  }

  .prev,
  .next {
    height: 25px;
    width: 27px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      width: 40px;

      .arrow {
        width: 40px;
        background: var(--e-global-color-accent);

        &:before,
        &:after {
          background: var(--e-global-color-accent);
        }
      }
    }
  }

  .prev {
    left: 0;

    .arrow {
      &:before {
        top: 17px;
        transform: rotate(45deg);
      }

      &:after {
        top: 7px;
        transform: rotate(-45deg);
      }
    }

    &:hover {
      left: -20px;
    }
  }

  .next {
    right: 0;

    .arrow {
      &:before {
        transform: rotate(-45deg);
        right: -1px;
        left: auto;
        bottom: 6px;
      }

      &:after {
        transform: rotate(45deg);
        right: -1px;
        left: auto;
        top: 6px;
      }
    }

    &:hover {
      right: -20px;
    }
  }
}

.doc_feedback_slider {
  max-width: 770px;
  margin: 0 auto 0;
  text-align: center;

  .item {
    .author_img {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      overflow: hidden;
      margin: 0 auto 43px;
    }

    p {
      font-size: 18px;
      color: #000;
      line-height: 30px;
      margin-bottom: 38px;
      font-weight: 300;
    }

    h5 {
      font-size: 20px;
      font-weight: 500;
      color: #000;
    }

    h6 {
      font-size: 16px;
      color: #989dad;
      font-weight: 400;
      margin-bottom: 0;
    }
  }
}

/*============ End doc_feedback_area css ==========*/

/*============ Start doc_action_area css ==========*/
.doc_action_area {
  position: relative;
  z-index: 1;
  padding: 93px 0;

  .overlay_bg {
    background-image: linear-gradient(
                    180deg,
                    rgba(4, 133, 161, 0.6) 0%,
                    rgba(29, 39, 70, 0.6) 100%
    );
  }

  .action_btn {
    border: 1px solid var(--e-global-color-accent);

    &:hover {
      background: transparent;
      border-color: #fff;
      color: #fff;
    }
  }
}

.action_text {
  h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
  }

  p {
    font-size: 18px;
    line-height: 28px;
    color: #b4b9c8;
    margin-bottom: 0;
  }
}

/*============ End doc_action_area css ==========*/

/*============= spider_testimonial_area css  ================*/
.doc_testimonial_slider {
  padding-right: 100px;

  .item {
    padding-left: 15px;
    position: relative;
    padding-top: 10px;

    &:before {
      content: "“";
      font-weight: 400;
      font-size: 150px;
      color: var(--e-global-color-accent);
      opacity: 0.1;
      position: absolute;
      left: -5px;
      width: 38px;
      height: 38px;
      line-height: 130px;
      top: 0;
      z-index: 1;
    }

    h3 {
      font-size: 34px;
      line-height: 52px;
      font-weight: 400;
      margin-bottom: 20px;
      margin-top: 0;
    }

    .name {
      font-size: 14px;
      font-weight: 700;
      color: #6a737c;
      margin-bottom: 20px;
    }
  }
}

.doc_testimonial_slider {
  padding-right: 100px;

  .item {
    padding-left: 15px;
    position: relative;
    padding-top: 10px;

    &:before {
      content: "“";
      font-weight: 400;
      font-size: 150px;
      color: var(--e-global-color-accent);
      opacity: 0.1;
      position: absolute;
      left: -5px;
      width: 38px;
      height: 38px;
      line-height: 130px;
      top: 0;
      z-index: 1;
    }

    h3 {
      font-size: 34px;
      line-height: 52px;
      font-weight: 400;
      margin-bottom: 20px;
      margin-top: 0;
    }

    .name {
      font-size: 14px;
      font-weight: 700;
      color: #6a737c;
      margin-bottom: 20px;

      h5 {
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 0;
        text-transform: capitalize;
      }

      span {
        font-weight: 400;
      }
    }

    .sign {
      display: inline-block;
    }
  }

  .slick-dots {
    position: relative;
    bottom: 0;
    text-align: left;
    margin-top: 30px;
    padding-left: 15px;

    li {
      width: auto;
      height: auto;

      button {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #dbdbfc;
        transition: all 0.2s;

        &:before {
          display: none;
        }
      }

      & :nth-child(even) {
        button {
          background: #a5a5f8;
        }
      }

      &.slick-active {
        button {
          background: var(--e-global-color-accent);
        }
      }
    }
  }

  .action_text {
    h2 {
      color: #fff;
      font-size: 40px;
      font-weight: 500;
    }

    p {
      font-size: 18px;
      line-height: 28px;
      color: #b4b9c8;
      margin-bottom: 0;
    }
  }
}

.doc_img_slider {
  .item {
    text-align: center;
    position: relative;
    padding-bottom: 25px;
    z-index: 1;

    img {
      display: inline-block;
      border-radius: 20px;
    }

    .dot {
      border-radius: 0;
      position: absolute;
      left: 60px;
      bottom: 0;
      z-index: -1;
    }

    .round {
      border-radius: 50%;
      position: absolute;
      z-index: -1;

      &.one {
        width: 150px;
        height: 150px;
        right: 60px;
        top: 60px;
        background-image: linear-gradient(
                        50deg,
                        rgb(87, 54, 254) 0%,
                        rgb(253, 64, 110) 100%
        );
        opacity: 0.1;
      }

      &.two {
        width: 280px;
        height: 280px;
        right: 0;
        top: 50%;
        margin-top: -140px;
        background-image: linear-gradient(
                        50deg,
                        rgb(87, 54, 254) 0%,
                        rgb(253, 64, 110) 100%
        );
      }
    }

    &.slick-active {
      .one {
        animation: zoomIn 0.8s linear both 0.4s;
      }

      .two {
        animation: zoomIn 0.8s linear both 0.5s;
      }
    }
  }
}

.slick-arrow.slick-hidden {
  display: none;
}

/*============ testimonial slider 6 ===========*/
.feedback_section_one {
  .slick-arrow-one {
    position: absolute;
    right: 0;
    top: -80px;
  }
}

.feedback-slider-one {
  margin-left: -15px;
  margin-right: 15px;

  .item {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.feedback-block-one {
  background: #f9ffe1;
  border: 2px solid #000;
  border-radius: 30px;
  padding: 40px 40px 45px;
  transition: all 0.25s linear;

  &:hover {
    background: rgba(var(--e-global-color-accent), .4);
  }

  .logo {
    height: 50px;

    img {
      max-height: 100%;
    }
  }

  h3 {
    font-size: 36px;
    line-height: 1.3888em;
    color: #000;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .name {
    font-size: 16px;
    margin-bottom: 0;

    span {
      font-weight: 500;
    }
  }

  .review {
    border-top: 2px solid #000;
    padding-top: 40px;
    @media (max-width: 1024px) {
      margin-top: 30px;
      padding-top: 20px;
    }

    .text-md {
      font-size: 20px;
      font-weight: 500;
    }
  }

  &.color-two {
    background: #755146;
    border: none;

    &:hover {
      background: #249f47;
    }

    .review {
      border-top: 1px solid #fff;

      ul li a {
        color: #fff;
      }
    }
  }
}

/*========= feedback-slider-two css =============*/
.feedback-section-two {
  .slick-dots {
    margin: 40px 0 0 15px;
    position: relative;
    bottom: 0;
    text-align: left;

    li {
      height: auto;
      width: auto;
      margin: 0;

      button {
        text-indent: -50000px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin: 0 5px;
        background: #e4e4e4;
        transition: all 0.3s ease-in-out;
        padding: 0;
      }

      &.slick-active button {
        background: var(--e-global-color-accent);
      }
    }
  }
}

.feedback-slider-two {
  .item {
    margin: 50px 25px;
  }
}

.feedback-block-two {
  box-shadow: 0 20px 35px rgba(0, 16, 34, 0.03);
  background: #ffffff;
  border-radius: 10px;
  padding: 38px 45px 40px;
  border: 0;

  &:hover {
    background: #fff;
  }

  h3 {
    font-size: 20px;
    line-height: 2em;
    color: #212529;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 45px;
  }

  .review {
    border: 0;
    padding-top: 0;

    .text-md {
      font-size: 28px;
      color: var(--e-global-color-accent);
      line-height: 1;
    }
  }

  .block-footer {
    padding-top: 35px;
    border-top: 1px solid #000;

    .author-img {
      width: 50px;
      height: 50px;
    }

    .name {
      margin-bottom: 0;
      font-size: 18px;
      font-weight: 500;
      color: #212529;
      line-height: 1;
    }

    span {
      font-size: 16px;
    }

    .quote-icon {
      width: 40px;
    }
  }
}

// feedback-section-seven css
.feedback-section-seven {
  .slick-arrow-one {
    position: absolute;
    right: 0;
    top: -80px;

    li {
      color: #000;

      &:hover {
        background: var(--e-global-color-accent);
        color: #fff;
      }
    }
  }

  .feedback-slider-one {
    margin-left: -35px;
    margin-right: -35px;

    .item {
      margin: 0 35px;
      @media (max-width: 1025px) {
        margin: 0 17.5px;
      }
      @media (max-width: 767px) {
        margin: 0 35px;
      }

      .feedback-block-one {
        position: relative;

        .quote-icon {
          position: absolute;
          top: 58px;
          right: 55px;
        }

        .review {
          @media (max-width: 1024px) {
            margin-top: 0;
            padding-top: 0;
          }
        }
      }
    }
  }
}

.feedback-block-three {
  position: relative;
  padding: 45px 55px 40px;
  background: #FAFAFA;
  border-radius: 10px;
  border: 0;
  @media (max-width: 1025px) {
    padding: 35px 40px 35px;
  }

  .quote-icon {
    position: absolute;
    top: 58px;
    right: 55px;
    width: 41px;
  }

  .review {
    border: 0;
    padding-top: 0;

    .text-md {
      font-size: 28px;
      color: var(--e-global-color-accent);
    }
  }

  h3 {
    font-size: 24px;
    line-height: 2em;
    font-weight: 400;
    color: #212529;
  }

  .name {
    margin-bottom: 0;
    font-size: 20px;
    color: #212529;
    font-weight: 500;

    span {
      opacity: 0.5;
      font-weight: 400;
      padding-left: 5px;
    }
  }

  .author-img {
    width: 60px;
    height: 60px;
  }

  &:hover {
    background: #fff;
  }
}

/*==== testimonial 8 css ====*/
.feedback-section-three {
  position: relative;

  .feedback_slider {
    max-width: 950px;
    margin: 0 auto;
    overflow: hidden;
  }

  .carousel-inner {
    p {
      font-size: 36px;
      line-height: 1.888em;
      color: #000;
      margin-bottom: 55px;
    }
  }

  .name {
    font-size: 22px;
    color: #000;
    font-weight: 500;

    &:before {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      background: #000;
      left: -45px;
      top: 16px;
    }

    span {
      font-weight: 400;
    }
  }

  .carousel-indicators {
    position: static;
    width: 100%;
    margin: 60px 0 0;
    display: flex;
    justify-content: center;

    button {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 3px solid transparent;
      opacity: 1;
      margin: 0 10px;
      transition: all 0.2s linear;
      text-indent: 0;
      padding: 0;

      &:focus,
      &:hover {
        outline: none;
        border-color: #29503d;
        background: transparent;
      }

      &.active {
        border-color: #29503d;
      }
    }
  }

  .carousel-btn {
    top: 65px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgba($color: #000000, $alpha: 0.15);
    opacity: 1;
    line-height: 48px;
    text-align: center;
    font-size: 30px;
    color: #000;
    padding: 0;
    transition: all 0.3s linear;
    position: absolute;

    &:hover,
    &:focus {
      border-color: #29503d;
      background: #29503d;
      color: #fff;
    }

    &.carousel-control-next {
      right: 0;
      left: auto;
    }
  }
}

// testimonial 10 css
// FeedBack Section Four
.feedback-section-four {
  @media (max-width: 1024px) {
    .ezd-grid {
      display: block;
    }
  }

  .bg-wrapper {
    background: #1ea243;
    padding: 125px 110px 165px 110px;
    transition: 0.3s;
    @media (min-width: 1200px) and (max-width: 1399px) {
      padding: 80px 100px 130px 70px;
    }
    @media (max-width: 1199px) {
      padding: 60px 70px 100px 35px;
    }
    @media (max-width: 991px) {
      padding: 45px 15px 100px;
    }

    .icon {
      width: 80px;
      height: 80px;
      background: rgba($color: #fff, $alpha: 0.16);
    }

    p {
      font-size: 40px;
      color: #fff;
      line-height: 1.7em;
      margin: 50px 0 95px;
      transition: 0.3s;

      @media (min-width: 1200px) and (max-width: 1399px) {
        font-size: 35px;
        margin-bottom: 70px;
      }
      @media (min-width: 992px) and (max-width: 1199px) {
        font-size: 25px;
        margin-bottom: 70px;
      }
      @media (max-width: 991px) {
        font-size: 25px;
        margin: 30px 0 40px;
      }
    }

    .name {
      font-size: 20px;
      transition: 0.3s;
    }

    .slider-arrows {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      list-style: none;
      left: 0;
      bottom: 0;
      margin-bottom: 0;
      padding: 0;
      @media (max-width: 991px) {
        right: 0;
        padding: 0;
        justify-content: space-between;
      }

      li {
        width: 60px;
        height: 60px;
        font-size: 22px;
        text-align: center;
        line-height: 65px;
        color: #fff;
        cursor: pointer;
        transition: all 0.2s linear;
        border-left: 1px solid rgba($color: #fff, $alpha: 0.14);
        background: rgba($color: #fff, $alpha: 0.13);

        &:hover {
          background: #fff;
          color: #000;
        }
      }
    }
  }
}

.feedback-section-four {
  .slider-wrapper {
    position: absolute;
    width: 79vw;
    right: -42vw;
    bottom: 10%;
    @media (min-width: 1921px) {
      right: -28vw;
      width: 55vw;
    }
    @media (max-width: 1600px) {
      right: -30vw;
    }
    @media (max-width: 1400px) {
      right: -12vw;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      width: 75vw;
      bottom: 10%;
      right: -22vw;
    }
    @media (min-width: 1200px) and (max-width: 1399px) {
      right: -28vw;
    }
    @media (max-width: 991px) {
      width: 100%;
      position: static;
    }

    .item {
      margin: 0 15px;
    }

    .slick-dots {
      position: absolute;
      margin: 0;
      padding: 0;
      bottom: -14%;
      left: 20%;
      width: auto;
      @media (max-width: 1024px) {
        position: relative;
        margin-top: 15px;
        left: 0;
        bottom: 0;
        display: block;
      }

      li {
        width: auto;
        height: auto;
        margin: 0 auto;

        button {
          text-indent: -50000px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          margin: 0 5px;
          background: #e4e4e4;
          transition: all 0.3s ease-in-out;
          padding: 0;
        }

        &.slick-active {
          button {
            background: var(--e-global-color-accent);
          }
        }
      }
    }
  }


  .col-lg-6 {
    @media (min-width: 1400px) {
      flex: 0 0 auto;
      width: 58.33333333%;
    }
    @media (max-width: 1024px) {
      width: 100%;
      max-width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 40px;
    }
    @media (min-width: 992px) {
      flex: 0 0 auto;
      width: 50%;
    }
  }
}

.testimonial-slider {
  .arrow {
    width: 45px;
    height: 2px;
    background: #989dad;
    transition: all 0.3s ease-in-out;
    display: block;
    margin-top: 12px;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 2px;
      left: -2px;
      background-color: #bdb4b4;
      transition: all 0.3s ease-in-out;
    }

    &::before {
      transform: rotate(45deg);
      right: -1px;
      left: auto;
      bottom: 6px;
    }

    &::after {
      transform: rotate(-45deg);
      right: -1px;
      left: auto;
      top: 6px;
    }
  }

  .next {
    height: 25px;
    width: 27px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    right: -50px;
    cursor: pointer;

    &:hover {
      right: -50px;

      .arrow {
        width: 70px;
      }
    }
  }
}

.testimonial-area {
  .testimonial-slider {
    .slick-prev.slick-arrow {
      display: none;
    }
  }
}

.carousel {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 100%;
}

.carousel img {
  width: 100%;
  height: auto;
}

.testimonial-item {
  background: #ffffff;
  box-shadow: 0 5px 15px -3px rgba(131, 146, 167, 0.25);
  border-radius: 8px;
  padding: 40px;
  margin-bottom: 70px;
  transition: 0.3s ease-out;
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    margin-bottom: 50px;
  }

  &:hover {
    box-shadow: 0 30px 60px -15px rgba(131, 146, 167, 0.3);
  }
}

/*=== Ratting ===*/
.jobus-review-rating {
  font-size: 15px;
  display: inline-block;
  letter-spacing: 5px;
  line-height: 1;
  margin-top: 8px;

  i {
    font-style: normal;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    transition: color 0.2s;
    margin-right: 4px;

    &.fa {
      font-family: 'FontAwesome';
    }

    &.elementor-star-full {
      color: #ffcc4a;
    }

    &.elementor-star-empty {
      color: rgba(0, 0, 0, 0.4);
    }

    &.elementor-star-1 {
      width: 10%;
      color: #ffcc4a;
    }

    &.elementor-star-2 {
      width: 20%;
      color: #ffcc4a;
    }

    &.elementor-star-3 {
      width: 30%;
      color: #ffcc4a;
    }

    &.elementor-star-4 {
      width: 40%;
      color: #ffcc4a;
    }

    &.elementor-star-5 {
      width: 50%;
      color: #ffcc4a;
    }

    &.elementor-star-6 {
      width: 60%;
      color: #ffcc4a;
    }

    &.elementor-star-7 {
      width: 70%;
      color: #ffcc4a;
    }

    &.elementor-star-8 {
      width: 80%;
      color: #ffcc4a;
    }

    &.elementor-star-9 {
      width: 90%;
      color: #ffcc4a;
    }
  }

  .elementor-screen-only {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}

