.message_alert {
  border: 1px solid rgb(235 235 235);
  border-radius: 4px;
  background: rgb(243 243 243 / 24%);
  padding: 32px 40px 30px;
  margin-bottom: 20px;
  i {
    font-size: 24px;
    color: #abb0c0;
    margin-right: 25px;
  }
  h5 {
    font-size: 16px;
    color: rgb(29 39 70);
    font-weight: 500;
    margin-bottom: 12px;
  }
  p {
    margin-bottom: 0;
    color: rgb(66 84 102);
    line-height: 1.8;
    font-size: 16px;
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    letter-spacing: 0.15px;
  }
  .close {
    position: absolute;
    right: 14px;
    top: 12px;
    padding: 1px 6px;
    font-size: 24px;
    opacity: 1;
    border: none;
    background: transparent;
    i {
      margin-right: 0;
    }
  }
}