/*========== cheatsheet_info css =========*/
.cheatsheet_info {
  &+.cheatsheet_info {
    margin-top: 30px;
  }
}

.cheatsheet_accordian {
  .card {
    border: 0;
    padding: 0;
    overflow: visible;
    margin-top: 10px;
    background: transparent;

    .card-header {
      padding: 0;
      border: 0;
      background: transparent;

      button {
        padding: 0;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 30px;
        background: transparent;
        color: rgb(29 39 70);
        text-decoration: none;
        margin-left: 8px;
        border: none;

        .minus {
          display: inline-block;
        }

        .pluse {
          display: none;
        }

        &.collapsed {
          .pluse {
            display: inline-block;
          }

          .minus {
            display: none;
          }
        }
      }
    }
  }
}

.cheatsheet_item {
  text-align: left;
  padding: 20px 20px 30px;
  margin-bottom: 30px;
  transition: all 0.3s linear;
  background: #ffffff;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;

  &:hover {
    box-shadow: 0 20px 27px 20px rgba(4, 73, 89, 0.08) !important;
  }

  .cheatsheet_num {
    text-align: right;
  }

  p {
    margin-bottom: 0;
  }

  h5 {
    margin-bottom: 0;
    color: rgb(76 76 241);
  }
}

.light-header {
  position: absolute;
  bottom: -23px;
  left: 0;
  width: 100%;
  text-align: center;

  @media(max-width: 768px) {
    bottom: -10px;
  }

  .title-light {
    color: #eff4f7;
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    margin: 0;

    @media(max-width: 768px) {
      font-size: 30px;
      bottom: -10px;
    }
  }
}

.collapse {
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
    padding: 0 12px;
  }
}

.collapse:not(.show) {
  display: none;
}