/* Spider Elements common CSS */
.fade {
  transition: opacity 0.15s linear;
}
.spel-black-25 {
  color: var(--black_25) !important;
}

.spel-black-50 {
  color: var(--black_50) !important;
}

.spel-black-100 {
  color: var(--black_100) !important;
}

.spel-black-150 {
  color: var(--black_150) !important;
}

.spel-black-200 {
  color: var(--black_200) !important;
}

.spel-black-300 {
  color: var(--black_300) !important;
}

.spel-black-350 {
  color: var(--black_350) !important;
}

.spel-black-400 {
  color: var(--black_400) !important;
}

.spel-black-500 {
  color: var(--black_500) !important;
}

.spel-black-600 {
  color: var(--black_600) !important;
}

.spel-black-700 {
  color: var(--black_700) !important;
}

.spel-black-800 {
  color: var(--black_800) !important;
}

.spel-black-900 {
  color: var(--black_900) !important;
}
a{
  &:hover,&:focus{
    outline: none;
    text-decoration: none;
  }
}
