/* Spider Elements common CSS */
.fade {
  transition: opacity 0.15s linear;
}
.se-black-25 {
  color: var(--black_25) !important;
}

.se-black-50 {
  color: var(--black_50) !important;
}

.se-black-100 {
  color: var(--black_100) !important;
}

.se-black-150 {
  color: var(--black_150) !important;
}

.se-black-200 {
  color: var(--black_200) !important;
}

.se-black-300 {
  color: var(--black_300) !important;
}

.se-black-350 {
  color: var(--black_350) !important;
}

.se-black-400 {
  color: var(--black_400) !important;
}

.se-black-500 {
  color: var(--black_500) !important;
}

.se-black-600 {
  color: var(--black_600) !important;
}

.se-black-700 {
  color: var(--black_700) !important;
}

.se-black-800 {
  color: var(--black_800) !important;
}

.se-black-900 {
  color: var(--black_900) !important;
}

/** Hover Classes **/
/*.h\:bs-md:hover {
  box-shadow: var(--bs_md) !important;
}

.h\:bs-lg:hover {
  box-shadow: var(--bs_md) !important;
}*/




/*
.elementor-section .elementor-container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

@media (min-width: 768px) {
  .elementor-column.elementor-col-100,
  .elementor-column[data-col="100"] {
    width: 100%;
  }
}

.elementor-column {
  position: relative;
  min-height: 1px;
  display: flex;
}

.elementor-column-gap-default > .elementor-column > .elementor-element-populated {
  padding: 10px;
}
.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
  display: flex;
}
.elementor-widget-wrap {
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}

.elementor-widget-wrap > .elementor-element {
  width: 100%;
}*/
