svg.radial-progress {
  height: auto;
  // max-width: 100px;
  padding: 0.5em;
  transform: rotate(-90deg);
}

svg.radial-progress circle {
  fill: transparent;
  stroke: #fff;
  stroke-dashoffset: 219.91148575129;
  stroke-width: 6px;
}

svg.radial-progress circle.complete {
  stroke-dasharray: 219.91148575129;
}

svg.radial-progress text {
  fill: #e8e6e6;
  font-size: 16px;
  font-weight: 500;
  text-anchor: middle;
}

svg.radial-progress circle.complete {
  stroke: #ef4953;
  stroke-linecap: round;
}

svg.radial-progress circle.incomplete {
  stroke: #5d5b62;
}

.skill_item_two {
  .radial-progress {
    background: linear-gradient(rgb(79, 248, 186) 0%, rgb(0, 204, 255) 100%);
    border-radius: 50%;
    circle {
      stroke-width: 4px;
      &.incomplete {
        stroke: #fff;
      }
    }
    text.counter {
      fill: #fff;
    }
  }
}
