
.hotspot_list{
    .hotspot{
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        outline: none;
        border-radius: 50%;
        background-color: #fff;
        border: 0.01px solid #7a7a7a;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        color: #e2498a;
        text-align: center;
        -webkit-transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
        transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
        transition: all 0.3s ease-in-out;
        border-radius: 50%;
        overflow: hidden;
        img{
            height: 100%;
        }
        &.active{
            transform: scale(2);
        }
    }
}




// stack image 
figure.stack_image{   
    display: grid;
    position: relative;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    overflow: hidden;
    &.img-position-left{
        margin: 0 0 0 left !important;
    }
    &.img-position-center{
        margin: 0 auto !important;
    }
    &.img-position-right{
        margin: 0 auto 0 0 !important;
    }
    img{
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
        animation-name: stateimage;
        animation-duration: 8s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-play-state: running;
        &:first-child{
            animation-delay: -17000ms;
        }
        &:nth-child(2){
            animation-delay: -15000ms;
        }
        &:nth-child(3){
            animation-delay: -13000ms;
        }
        &:nth-child(4){
            animation-delay: -11000ms;
        }

    }
}

@keyframes stateimage
{
    0% { clip-path: polygon(-50% 0%, 0% 0%, -50% 101%, -100% 101%) }
    100% { clip-path: polygon(150% 0%, 200% 0%, 150% 101%, 100% 101%) }
}