.journalism-content-wrapper {
  max-width: 550px;
  padding: 113px 0 65px;

  @media(max-width: 1480px) {
    padding: 83px 0 35px;
  }

  .quote {
    margin-left: -20px;
  }

  .journalism-title {
    font-size: 30px;
    line-height: 40px;
    color: var(--secondary_color);
    font-weight: 700;
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
    color: #6b707f;
    line-height: 34px;
    margin-bottom: 40px;
  }

  .journalism-info {
    .name {
      color: var(--secondary_color);
      font-size: 16px;
      margin: 0;
    }

    .designation {
      font-size: 14px;
      color: #6b707f;
    }
  }
}

.support_area {
  background: #002454;
  overflow: hidden;
  z-index: 2;
  .container {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .shap {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  .left {
    position: relative;
    align-self: center;
    z-index: 3;
    h3 {
      color: #fff;
      font-size: 40px;
      margin-bottom: 5px;
    }
    p {
      color: #fff;
    }
    .icon_btn2 {
      margin-top: 25px;
    }
  }
  .right {
    position: relative;
    img {
      z-index: 4;
      position: relative;
    }
  }
}