/*============== Tab =========*/
.tab_shortcode {
  margin-bottom: 0 !important;
  .nav-tabs {
    border: 0;
    .nav-item {
      margin: 0;
      .nav-link {
        font-size: 16px;
        color: var(--spe_p_color);
        border-radius: 0;
        padding: 9px 20px;
        background: var(--black_25);
        border: 1px solid var(--black_50);
        position: relative;
        text-decoration: none;
        margin-bottom: 0px !important;
        display: flex;
        gap: 8px;
        align-items: center;

        &:before {
          content: "";
          width: 0;
          height: 2.1px;
          background: var(--spe_brand_color);
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition: width 0.2s linear;
        }

        &.active {
          background: #fff;
          color: var(--black_800);
          border-color: #ebebeb;
          border-bottom-color: transparent;
          z-index: 1;
          &:before {
            opacity: 1;
            width: 100%;
          }
        }
      }

      &:last-child {
        .nav-link {
          border-right: 1px solid var(--black_50);
        }
      }
    }
  }

  .tab-content {
    color: var(--spe_p_color);
    padding: 25px 30px;
    border: 1px solid var(--black_50);
    border-radius: 0 5px 5px 5px;
    background-color: #fff;
    position: relative;
    .ezd_tab_arrow_btn {
      background: #0dcaf0;
      border-color: #0dcaf0;
      color: #fff;
    }
    .previous,
    .nexts {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 0;
      border-radius: 0;
      background: #e1ebf0;
      border: 0;
      color: var(--brand_color);
      outline: none;
      box-shadow: none;
      transition: all 0.4s linear;
      height: 32px;
      width: 19px;
      text-align: center;
      opacity: 0;
    }
    .previous {
      left: 0;
    }
    .nexts {
      right: 0;
    }
    &:hover {
      .previous,
      .nexts {
        opacity: 1;
      }
    }
  }
}

.header_tab_items,
.tab_shortcode {
  .nav-tabs {
    .numb {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: var(--spe_brand_color);
      display: inline-block;
      text-align: center;
      line-height: 20px;
      font-size: 12px;
      margin-right: 10px;
      transition: all 0.2s linear;
      color: #ffffff;
    }
  }
}

.header_tab_items {
  .nav-tabs {
    .nav-item {
      .nav-link {
        display: flex;
        align-items: center;
        border: none;
        box-shadow: none;
        background: transparent;
        border-radius: 0;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        padding: 10px 30px;
        text-decoration: none;
        transition: all 300ms linear 0s;
        gap: 8px;
        &.active {
          background: #ffffff;
          color: var(--spe_brand_color);
        }
      }
    }
  }
}

.process_tab_shortcode {
  position: relative;
  overflow: hidden;

  .previous,
  .next {
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    padding: 0;
    border-radius: 0;
    background: #e1ebf0;
    border: 0;
    color: var(--spe_brand_color);
    outline: none;
    box-shadow: none;
    transition: all 0.4s linear;
    height: 32px;
    width: 19px;
    text-align: center;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:hover {
      outline: none;
      box-shadow: none;
      background: var(--spe_brand_color);
      color: #fff;
      border-color: transparent #ebebeb;
    }
  }

  .next {
    right: -30px;
    border-radius: 5px 0 0 5px;
  }

  .previous {
    left: -30px;
    border-radius: 0 5px 5px 0;
  }

  &:hover {
    .next {
      right: 0;
    }

    .previous {
      left: 0;
    }
  }
}

.v_menu {
  border-bottom: 1px solid #e8ecee;
  padding-bottom: 20px;
  padding-top: 5px;
  margin-bottom: 20px;

  .nav-item {
    display: inline-block;

    .nav-link {
      font-size: 16px;
      color: var(--spe_p_color);
      transition: all 0.2s linear;
      padding: 0;
      border: 0;
      border-radius: 0;

      span {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #e1e3eb;
        display: inline-block;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        margin-right: 10px;
        transition: all 0.2s linear;
        position: relative;
        top: -2px;
      }

      &.active,
      &:hover {
        color: var(--spe_brand_color);
        border: 0;
        background: transparent;

        span {
          background: var(--spe_brand_color);
          color: #fff;
        }
      }
    }

    & + li {
      margin-left: 55px;
    }
  }
}

body.admin-bar .sticky_tab.tab_fixed.sticky_tab_item {
  top: -38px;
}

.sticky_tab {
  &.tab_fixed {
    &.sticky_tab_item {
      position: fixed;
      width: 100%;
      top: -70px;
      left: 0;
      right: 0;
      background: var(--spe_heading_color);
      transform: translateY(70px);
      transition: transform 500ms ease, background 500ms ease;
      z-index: 30;
    }
  }
}

.tabs_sliders {
  position: relative;
  ul {
    &.nav-tabs {
      align-items: flex-start;
      flex-wrap: nowrap !important;
      overflow: hidden;
      li {
        min-width: fit-content;
      }
    }
  }
  span {
    &.scroller-btn {
      position: absolute;
      // left: -24px;
      top: 50%;
      color: var(--spe_brand_color);
      font-size: 20px;
      cursor: pointer;
      transform: translateY(-50%);
    }
    &.inactive {
      display: none;
    }
  }
  &.sticky_tab_item {
    span {
      &.scroller-btn {
        left: 0;
        width: 40px;
        background: #f9f9f9;
        box-shadow: 4px 0px 9px 1px rgba(0, 0, 0, 0.03);
        line-height: 44px;
        z-index: 1;
        text-align: center;
        &:before {
          content: "";
          width: 20px;
          height: 100%;
          background: linear-gradient(
            90deg,
            rgba(249, 249, 249, 0.8) 30%,
            rgb(249, 249, 249) 100%,
            rgb(249, 249, 249) 16%,
            rgb(249, 249, 249) 100%
          );
          position: absolute;
          right: -20px;
        }
      }
      &.right {
        right: 0;
        left: auto;
        &:before {
          left: -20px;
          right: auto;
        }
      }
    }
    &.header_tab_items {
      span {
        &.scroller-btn {
          left: -24px;
        }
        &.right {
          right: -24px;
          left: auto;
        }
      }
    }
  }
}

.process_tab_shortcode {
  .version {
    background: var(--black_25);
    padding: 30px;
    font-size: 15px;
    margin-bottom: 28px;

    p {
      margin-bottom: 20px;
      font-size: 15px;
      color: #6b707f;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .v_head {
      padding-bottom: 24px;
    }

    .v_middle {
      p {
        margin-bottom: 0;
        font-size: 15px;

        .red {
          color: #f12249;
        }

        .green {
          color: #11c52f;
        }
      }
    }

    .v_footer {
      padding-top: 25px;

      p {
        margin-bottom: 0;
      }
    }
  }
}

.process_tab_shortcode {
  .previous,
  .next {
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    padding: 0;
    border-radius: 0;
    background: #e1ebf0;
    border: 0;
    color: var(--spe_brand_color);
    outline: none;
    box-shadow: none;
    transition: all 0.4s linear;
    height: 32px;
    width: 19px;
    text-align: center;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:hover {
      outline: none;
      box-shadow: none;
      background: var(--spe_brand_color);
      color: #fff;
    }
  }

  .next {
    right: -30px;
    border-radius: 5px 0 0 5px;
  }

  .previous {
    left: -30px;
    border-radius: 0 5px 5px 0;
  }

  &:hover {
    .next {
      right: 0;
    }

    .previous {
      left: 0;
    }
  }
}

/* Sticky Tab
    ============================================================================================ */
body.remove {
  .tab_fixed {
    &.header_tab_items {
      transform: translateY(144px);
    }
  }
}

.header_tabs_area {
  .tab_fixed {
    &.header_tab_items {
      .nav.nav-tabs {
        li {
          a {
            svg,
            i,
            img {
              display: inline-block;
              margin-bottom: 0;
              position: relative;
              margin-right: 4px;
            }
          }
        }
      }
    }

    .header_tab_content {
      margin-top: 61px;
    }
  }
}

.header_tab_items {
  background: var(--spe_heading_color);
  .nav.nav-tabs {
    justify-content: center;
    border: none;

    li {
      margin-bottom: 0;

      a {
        border: none;
        box-shadow: none;
        background: transparent;
        border-radius: 0;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        padding: 10px 30px;
        text-decoration: none;
        svg,
        i,
        img {
          display: block;
          margin-bottom: 2px;
        }

        &:hover {
          background: var(--black_50);
          color: var(--spe_p_color);

          svg {
            path {
              fill: var(--spe_p_color);
            }
          }
        }

        &.active {
          background-color: #fff;
          color: var(--spe_brand_color);

          svg {
            path {
              fill: var(--spe_brand_color);
            }
          }
        }
      }
    }
  }
}

.header_tab_content {
  .tab-pane {
    padding: 0;
  }
}

ul.nav.nav-tabs {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: -1px;
  margin-top: 0;
  list-style: none;
  margin-left: 0px;
}

.tab_shortcode .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #0d6efd;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.tab-content > .active {
  display: block;
}

.toggle_body p:last-child,
.tab_shortcode .tab-content p {
  margin: 0;
}

.tab-content {
  p {
    margin-top: 0;
  }
}

// spe_auto_tabs css start
.tab_shortcode,
.header_tab_items {
  .spe_auto_tabs {
    .nav-item {
      .nav-link {
        position: relative;
        overflow: hidden;
        &:before {
          display: none;
        }
        .tab_progress {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 2px;
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0.4;
          }
        }
        .progress-bar {
          background: #a77def;
          height: 2px;
        }
      }
    }
  }
}
