/*============ Start doc_feedback_area css ==========*/
.doc_feedback_info{
  position: relative;
}
.slider_nav{
  .arrow{
    width: 25px;
    height: 2px;
    background: #989dad;
    transition: all .3s ease-in-out;
    display: block;
    margin-top: 12px;
    &:before,&:after{
      content: "";
      position: absolute;
      width: 15px;
      height: 2px;
      left: -2px;
      background-color: #bdb4b4;
      transition: all .3s ease-in-out;
    }
  }
  .prev,.next{
    height: 25px;
    width: 27px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover{
      width: 40px;
      .arrow{
        width: 40px;
        background: #d92c0a;
        &:before,&:after{
          background: #d92c0a;
        }
      }
    }
  }
  .prev{
    left: 0;
    .arrow{
      &:before{
        top: 17px;
        transform: rotate(45deg);
      }
      &:after{
        top: 7px;
        transform: rotate(-45deg);
      }
    }
    &:hover{
      left: -20px;
    }
  }
  .next{
    right: 0;
    .arrow{
      &:before{
        transform: rotate(-45deg);
        right: -1px;
        left: auto;
        bottom: 6px;
      }
      &:after{
        transform: rotate(45deg);
        right: -1px;
        left: auto;
        top: 6px;
      }
    }
    &:hover{
      right: -20px;
    }
  }
}

.doc_feedback_slider{
  max-width: 770px;
  margin: 0 auto 0;
  text-align: center;
  .item{
    .author_img{
      border-radius: 50%;
      width: 60px;
      height: 60px;
      overflow: hidden;
      margin: 0 auto 43px;
    }
    p{
      font-size: 18px;
      color: #fff;
      line-height: 30px;
      margin-bottom: 38px;
      font-weight: 300;
    }
    h5{
      font-size: 20px;
      font-weight: 500;
      color: #fff;
    }
    h6{
      font-size: 16px;
      color: #989dad;
      font-weight: 400;
      margin-bottom: 0;
    }
  }
}
/*============ End doc_feedback_area css ==========*/

/*============ Start doc_action_area css ==========*/
.doc_action_area{
  position: relative;
  z-index: 1;
  padding: 93px 0;
  .overlay_bg{
    background-image: linear-gradient( 180deg, rgba(4,133,161, 0.60) 0%, rgba(29,39,70, 0.60) 100%);
  }
  .action_btn{
    border: 1px solid var(--spe_brand_color);
    &:hover{
      background: transparent;
      border-color: #fff;
      color: #fff;
    }
  }
}

.action_text{
  h2{
    color: #fff;
    font-size: 40px;
    font-weight: 500;
  }
  p{
    font-size: 18px;
    line-height: 28px;
    color: #b4b9c8;
    margin-bottom: 0;
  }
}
/*============ End doc_action_area css ==========*/

/*============= spider_testimonial_area css  ================*/
  .doc_testimonial_slider {
    padding-right: 100px;
    .item {
      padding-left: 15px;
      position: relative;
      padding-top: 10px;

      &:before {
        content: "“";
        font-weight: 400;
        font-size: 150px;
        color: #4c4cf1;
        opacity: 0.1;
        position: absolute;
        left: -5px;
        width: 38px;
        height: 38px;
        line-height: 130px;
        top: 0;
        z-index: 1;
      }

      h3 {
        font-size: 34px;
        line-height: 52px;
        font-weight: 400;
        margin-bottom: 20px;
        margin-top: 0;
      }

      .name {
        font-size: 14px;
        font-weight: 700;
        color: var(--black_500);
        margin-bottom: 20px;
      }
    }
  }
  .doc_testimonial_slider {
    padding-right: 100px;

    .item {
      padding-left: 15px;
      position: relative;
      padding-top: 10px;

      &:before {
        content: "“";
        font-weight: 400;
        font-size: 150px;
        color: #4c4cf1;
        opacity: 0.1;
        position: absolute;
        left: -5px;
        width: 38px;
        height: 38px;
        line-height: 130px;
        top: 0;
        z-index: 1;
      }

      h3 {
        font-size: 34px;
        line-height: 52px;
        font-weight: 400;
        margin-bottom: 20px;
        margin-top: 0;
      }

      .name {
        font-size: 14px;
        font-weight: 700;
        color: var(--black_500);
        margin-bottom: 20px;

        h5 {
          font-size: 20px;
          margin-bottom: 10px;
          margin-top: 0;
          text-transform: capitalize;
        }

        span {
          font-weight: 400;
        }
      }

      .sign {
        display: inline-block;
      }
    }

    .slick-dots {
      position: relative;
      bottom: 0;
      text-align: left;
      margin-top: 30px;
      padding-left: 15px;

      li {
        width: auto;
        height: auto;

        button {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: #dbdbfc;
          transition: all 0.2s;

          &:before {
            display: none;
          }
        }

        &:nth-child(even) {
          button {
            background: #a5a5f8;
          }
        }

        &.slick-active {
          button {
            background: #4c4cf1;
          }
        }
      }
    }
    .action_text {
      h2 {
        color: #fff;
        font-size: 40px;
        font-weight: 500;
      }
      p {
        font-size: 18px;
        line-height: 28px;
        color: #b4b9c8;
        margin-bottom: 0;
      }
    }

  }

  .doc_img_slider {
    .item {
      text-align: center;
      position: relative;
      padding-bottom: 25px;
      z-index: 1;

      img {
        display: inline-block;
        border-radius: 20px;
      }

      .dot {
        border-radius: 0;
        position: absolute;
        left: 60px;
        bottom: 0;
        z-index: -1;
      }

      .round {
        border-radius: 50%;
        position: absolute;
        z-index: -1;

        &.one {
          width: 150px;
          height: 150px;
          right: 60px;
          top: 60px;
          background-image: linear-gradient(50deg,
              rgb(87, 54, 254) 0%,
              rgb(253, 64, 110) 100%);
          opacity: 0.1;
        }

        &.two {
          width: 280px;
          height: 280px;
          right: 0;
          top: 50%;
          margin-top: -140px;
          background-image: linear-gradient(50deg,
              rgb(87, 54, 254) 0%,
              rgb(253, 64, 110) 100%);
        }
      }

      &.slick-active {
        .one {
          animation: zoomIn 0.8s linear both 0.4s;
        }

        .two {
          animation: zoomIn 0.8s linear both 0.5s;
        }
      }
    }
  }

  .slick-arrow.slick-hidden {
    display: none;
  }

  /*============= Allfolio Testimonial Area CSS  ================*/
  // testimonial style 3 css 
  .testimonial_area_nine {
    .navigation {
      .swiper-button-prev,
      .swiper-button-next {
        width: 50px;
        height: 50px;
        background: #46454763;
        color: #464547;
        border-radius: 50%;
        top: 65%;
        transition: all 0.3s;
        opacity: 0;
  
        &:after {
          font-size: 15px;
        }
  
        &:hover {
          background: #E86A42;
          color: #fff;
        }
      }
      .swiper-button-prev {
        left: -130px;
      }
      .swiper-button-next {
        right: -130px;
      }
    }
  
    &:hover {
      .swiper-button-prev {
        left: -100px;
        opacity: 1;
      }
      .swiper-button-next {
        right: -100px;
        opacity: 1;
      }
    }
  
  }
  .testimonial-slider-inner {
    .testimonial-item {
      display: flex;
      border: 2px solid #E86A42;
      padding: 50px 110px 50px 50px;
      border-radius: 8px;
      margin-top: 280px;
      align-items: flex-start;
      margin-bottom: 78px;
      flex-direction: row-reverse;
  
      p {
        font-size: 24px;
        font-weight: 500;
        color: #e6e6e6;
        letter-spacing: 0.01em;
        font-family: var(--ibm);
        margin-bottom: 30px;
        line-height: 1.3;
        margin-top: 30px;
      }
  
      .quote-img-top {
        margin-top: -150px;
        width:fit-content;
      }
  
      .quote-img-bottom {
        position: absolute;
        right: 50px;
        bottom: 0px;
      }
    }
  
    .testimonial-content {
      flex: 1;
    }
  
    .author-info {
      .author-name {
        font-size: 18px;
        color: #e8e6e6;
        font-weight: 600;
        letter-spacing: 0.01em;
        font-family: var(--ibm);
        margin-bottom: 0px;
      }
  
      .author-position {
        font-size: 18px;
        font-weight: 400;
        color: #CCCCCE;
        letter-spacing: 0.01em;
      }
    }
  
    .author-image {
      padding: 14px;
      border-radius: 8px;
      background: #2E2D31;
      margin-left: 40px;
      margin-top: -330px;
  
      img {
        border-radius: 8px;
      }
    }
  }


/*============ testimonial slider 6 ===========*/
.feedback_section_one{
    .slick-arrow-one {
        position: absolute;
        right: 0;
        top:-80px;
    }
}
.feedback-slider-one {
  .item{
    margin-left: 15px;
    margin-right: 15px;
  }
}
.feedback-block-one {
  background: #F9FFE1;
  border: 2px solid #000;
  border-radius: 30px;
  padding: 40px 40px 45px;
  transition: all 0.25s linear;
  &:hover {
      background: #D2F34C;
  }
  .logo {
      height: 50px;
      img {max-height: 100%;}
  }
  h3 {
      font-size: 36px;
      line-height: 1.3888em;
      color: #000;
      margin-top: 50px;
      margin-bottom: 50px;
  }
  .name{
    font-size: 16px;
    margin-bottom: 40px;
    span{
      font-weight: 500;
    }
  }
  .review {
      border-top: 2px solid #000;
      padding-top: 40px;
      .text-md{
        font-size: 20px;
        font-weight: 500;
      }
  }
  .star-rating{
    font-size: 15px;
    font-family: eicons;
    display: inline-block;
    i{
      font-style: normal;
      position: relative;
      display: inline-block;
      color: #0000007a;
      &::before{
        content: "\e934";
        display: block;
        font-size: inherit;
        font-family: inherit;
        position: absolute;
        overflow: hidden;
        color: #000;
        top: 0;
        left: 0;
      }
    }
    .elementor-star-empty:before {
      content: none
    }
    
    .elementor-star-1:before {
      width: 10%
    }
    
    .elementor-star-2:before {
      width: 20%
    }
    
    .droit-star-3:before {
      width: 30%
    }
    
    .elementor-star-4:before {
      width: 40%
    }
    
    .elementor-star-5:before {
      width: 50%
    }
    
    .elementor-star-6:before {
      width: 60%
    }
    
    .elementor-star-7:before {
      width: 70%
    }
    
    .elementor-star-8:before {
      width: 80%
    }
    
    .elementor-star-9:before {
      width: 90%
    }
  }
  &.color-two {
      background: #755146;
      border: none;
      &:hover {
          background: #249F47;
      }
      .review {
          border-top: 1px solid #fff;
          ul li a {
              color: #fff;
          }
      }
  }
}


/*========= feedback-slider-two css =============*/
.feedback-section-two {
  .slick-dots {
    margin: 40px 0 0 15px;
    position: relative;
    bottom: 0;
    text-align: left;
    li{
      height: auto;
      width: auto;
      margin: 0px;
      button{
        text-indent: -50000px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin: 0 5px;
        background: #E4E4E4;
        transition: all 0.3s ease-in-out;
        padding: 0px;
      }
      &.slick-active button {
        background: #00BF58;
      }
    }
  }
}
.feedback-slider-two{
  .item {
    margin: 50px 25px;
  }
} 
.feedback-block-two{
  box-shadow: 0px 20px 35px rgba(0, 16, 34, 0.03);
  background: #FFFFFF;
  border-radius: 10px;
  padding: 38px 45px 40px;
  border: 0px;
  &:hover{
    background: #fff;
  }
  h3{
    font-size: 20px;
    line-height: 2em;
    color: #212529;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 45px;
  }
  .review{
    border: 0px;
    padding-top: 0;
    .text-md{
      font-size: 28px;
      color: #00BF58;
      line-height: 1;
    }
    .star-rating{
      letter-spacing: 7px;
      i{
        &:before{
          color: #FFCC4A;
        }
      }
    }
  }
  .block-footer{
    padding-top: 35px;
    border-top: 1px solid #000;
    .author-img{
      width: 50px;
      height: 50px;
    }
    .name{
      margin-bottom: 0;
      font-size: 18px;
      font-weight: 500;
      color: #212529;
      line-height: 1;
    }
    span{
      font-size: 16px;
    }
    .quote-icon{
      width: 40px;
    }
  }
}

// feedback-section-five css 

.feedback-section-five{
  .slick-arrow-one {
    position: absolute;
    right: 0;
    top:-80px;
    li{
      color: #fff;
      &:hover{
        background: #00BF58;
        color: #fff;
      }
    }
  }
  .feedback-slider-one{
    margin-left: -35px;
    margin-right: -35px;
    .item{
      margin: 0 35px;
    }
  }
}
.feedback-block-three{
  position: relative;
  padding: 45px 55px 40px;
  background: #fff;
  border-radius: 10px;
  border: 0px;
  .quote-icon{
    position: absolute;
    top: 58px;
    right: 55px;
    width: 41px;
  }
  .review{
    border: 0px;
    padding-top: 0;
    .text-md{
      font-size: 28px;
      color: #00BF58;
    }
  }
  .star-rating i{
    letter-spacing: 7px;
    &:before{
      color: #FFCC4A;
    }
  }
  h3{
    font-size: 24px;
    line-height: 2em;
    font-weight: 400;
    color: #212529;
  }
  .name {
    margin-bottom: 0;
    font-size: 20px;
    color: #212529;
    font-weight: 500;
    span{
      opacity: 0.5;
      font-weight: 400;
      padding-left: 5px;
    }
  }
  .author-img{
    width: 60px;
    height: 60px;
  }
  &:hover{
    background: #fff;
  }
}


/*==== testimonial 8 css ====*/
#feedBack_carousel {
  position: relative;
  .carousel-inner{
    p {
      font-size: 36px;
      line-height: 1.888em;
      color: #000;
      margin-bottom: 55px;
    }
  } 
  .name{
    font-size: 22px;
    color: #000;
    font-weight: 500;
    &:before {
      content: '';
      position: absolute;
      width: 30px;
      height: 2px;
      background: #000;
      left: -45px;
      top:16px;
    }
    span{
      font-weight: 400;
    }
  }
  .carousel-indicators {
    position: static;
    width: 100%;
    margin: 60px 0 0;
    button {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 3px solid transparent;
      opacity: 1;
      margin: 0 10px;
      transition: all 0.2s linear;
      text-indent: 0;
      &.active {
        border-color: #29503D;
      }
    } 
  }
  .carousel-btn {
    top:65px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgba($color: #000000, $alpha: .15);
    opacity: 1;
    line-height: 48px;
    text-align: center;
    font-size: 30px;
    color: #000;
    transition: all 0.3s linear;
    &:hover {
      border-color: #29503D;
      background: #29503D;
      color: #fff;
    }
  }
}
