/* Variable CSS */
:root {
  --spe_brand_color: #A77DEF;
  --spe_heading_color: #031933;
  --spe_p_color: #6A737C;

  --gradient_bg_color1: #fffbf2;
  --gradient_bg_color2: #edfffd;

  --border_on_white: #e6edf0;
  --border_on_highlight: #e6edf0;
  --body_bg: #fff;

  --black_25: #f9f9f9;
  --black_50: #ebebeb;
  --black_100: #d6d9dc;
  --black_150: #c8ccd0;
  --black_200: #bbc0c4;
  --black_300: #9fa6ad;
  --black_350: #9199a1;
  --black_400: #848d95;
  --black_500: #6a737c;
  --black_600: #535a60;
  --black_700: #3c4146;
  --black_750: #2f3337;
  --black_800: #242729;
  --black_900: #0c0d0e;

  --bs_sm: 0 1px 2px rgb(0 0 0 / 5%), 0 1px 4px rgb(0 0 0 / 5%), 0 2px 8px rgb(0 0 0 / 5%);
  --bs_md: 0 1px 3px rgb(0 0 0 / 6%), 0 2px 6px rgb(0 0 0 / 6%), 0 3px 8px rgb(0 0 0 / 9%);
  --bs_lg: 0 1px 4px rgb(0 0 0 / 9%), 0 3px 8px rgb(0 0 0 / 9%), 0 4px 13px rgb(0 0 0 / 13%);
}