/*font Variables*/
$rob: "Roboto", sans-serif;
$great: "Great Vibes", cursive;

$hover3: #c6e7f7;

// Mixins
@mixin transition(
  $property: all,
  $duration: 300ms,
  $animate: linear,
  $delay: 0s
) {
  transition: $property $duration $animate $delay;
}

@mixin link_style {
  a {
    color: var(--p_color);
    text-decoration: underline;
    text-decoration-color: rgba(76,76,241, 0.4);
    text-underline-offset: 4px;
    transition: all .3s;
    text-decoration-thickness: 2px;
    &:hover {
      text-decoration-color: var(--brand_color);
      text-decoration-thickness: 3px;
    }
  }
}

/**=== Functions ===**/
@function brand_color_rgba($alpha) {
  @return rgba(76, 76, 241, $alpha);
}

// Placeholder Mixins
@mixin placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

.col-md-offset-right-1,
.col-lg-offset-right-1 {
  margin-right: 8.33333333%;
}


/* Variable CSS */
:root {
  --brand_color: var(--accent_solid_color_opt, #4c4cf1);
  --secondary_color: var(--secondary_color_opt, #1d2746);
  --p_color: var(--paragraph_color_opt, #425466);
  --gradient_bg_color1: var(--gradient_bg_color-from, #fffbf2);
  --gradient_bg_color2: var(--gradient_bg_color-to, #edfffd);
  --border_on_white: #e6edf0;
  --border_on_highlight: #e6edf0;
  --body_bg: #fff;
  --black_25: #f9f9f9;
  --black_50: #ebebeb;
  --black_100: #d6d9dc;
  --black_150: #c8ccd0;
  --black_200: #bbc0c4;
  --black_300: #9fa6ad;
  --black_350: #9199a1;
  --black_400: #848d95;
  --black_500: #6a737c;
  --black_600: #535a60;
  --black_700: #3c4146;
  --black_750: #2f3337;
  --black_800: #242729;
  --black_900: #0c0d0e;
  --bs_sm: 0 1px 2px rgb(0 0 0 / 5%), 0 1px 4px rgb(0 0 0 / 5%), 0 2px 8px rgb(0 0 0 / 5%);
  --bs_md: 0 1px 3px rgb(0 0 0 / 6%), 0 2px 6px rgb(0 0 0 / 6%), 0 3px 8px rgb(0 0 0 / 9%);
  --bs_lg: 0 1px 4px rgb(0 0 0 / 9%), 0 3px 8px rgb(0 0 0 / 9%), 0 4px 13px rgb(0 0 0 / 13%);
}

.black-25 {
  color: var(--black_25) !important;
}

.black-50 {
  color: var(--black_50) !important;
}

.black-100 {
  color: var(--black_100) !important;
}

.black-150 {
  color: var(--black_150) !important;
}

.black-200 {
  color: var(--black_200) !important;
}

.black-300 {
  color: var(--black_300) !important;
}

.black-350 {
  color: var(--black_350) !important;
}

.black-400 {
  color: var(--black_400) !important;
}

.black-500 {
  color: var(--black_500) !important;
}

.black-600 {
  color: var(--black_600) !important;
}

.black-700 {
  color: var(--black_700) !important;
}

.black-800 {
  color: var(--black_800) !important;
}

.black-900 {
  color: var(--black_900) !important;
}

.bs-sm {
  box-shadow: var(--bs_sm) !important;
}

.bs-md {
  box-shadow: var(--bs_md) !important;
}

.bs-lg {
  box-shadow: var(--bs_lg) !important;
}

/** Hover Classes **/
.h\:bs-md:hover {
  box-shadow: var(--bs_md) !important;
}

.h\:bs-lg:hover {
  box-shadow: var(--bs_md) !important;
}

/* Spider Elements common CSS */


.d-flex{
  display: flex;
}

.elementor-section .elementor-container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

@media (min-width: 768px) { 
.elementor-column.elementor-col-100, .elementor-column[data-col="100"] {
  width: 100%;
  } 
}

.elementor-column {
  position: relative;
  min-height: 1px;
  display: flex;
}

.elementor-column-gap-default>.elementor-column>.elementor-element-populated {
  padding: 10px;
}
.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
  display: flex;
}
.elementor-widget-wrap {
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}

.elementor-widget-wrap>.elementor-element {
  width: 100%;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

@media (min-width: 992px) { 
.col-lg-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
  }
}