body {
  direction: rtl;
  unicode-bidi: embed;
}
.sidebar_navigation {
  margin-left: 30px;

  .tab_left_content {
    li {
      .tab_menu_contents {
        .icon {
          margin-left: 12px;
        }
      }
    }
  }
}

.spel_dashboard {
  .tab_contents {
    
    .requirement_list {
      li {
        i {
          margin-left: 12px;
        }
      }
    }

    .elements_tab_menu {
      .tab_contents {
        .icon {
          margin-left: 12px;
        }
      }
      .dashboard_btn {
        margin-right: 40px;
      }
    }

    .filter_content {
      .element_switch {
        .element_content {
          i {
            margin-left: 20px;
          }
        }
      }
    }

    .element_box {
      .element_right {
        .link {
          margin-left: 5px;
        }
      }
    }

  }
}
