.elementor-control-raw-html.elementor-warning {
    padding: 10px;
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
    line-height: 1.4;
}

.elementor-control-raw-html.elementor-warning {
    padding: 10px;
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
    line-height: 1.4;
}

/** === Style Variations === **/
.elementor-control.elementor-control-style.elementor-control-type-choose.elementor-label-inline .elementor-control-input-wrapper,
.elementor-control.elementor-control-style .elementor-control-content,
.elementor-control.elementor-control-style .elementor-control-field {
    display: block;
}
.elementor-control.elementor-control-style.elementor-control-type-choose.elementor-label-inline .elementor-control-input-wrapper {
    margin-left: 0;
}
.elementor-control.elementor-control-style.elementor-control-type-choose label.elementor-control-title {
    padding-bottom: 10px;
    display: block;
}
.elementor-control.elementor-control-style .elementor-choices {
    display: block;
    height: auto;
    width: 266px;
}
.elementor-control.elementor-control-style .elementor-choices .elementor-choices-label {
    display: block;
    width: 266px;
    height: 110px;
}
.elementor-control.elementor-control-style .elementor-choices input:checked+.elementor-choices-label {
    border-width: 2px;
    padding-right: 2px;
}
.elementor-control.elementor-control-style .elementor-choices label:not(:first-of-type) {
    margin-top: 10px;
}
.elementor-control.elementor-control-style .elementor-choices .elementor-choices-label:hover {
    border: 1px solid #6d7882;
}
.elementor-control.elementor-control-style .elementor-choices .elementor-choices-label i {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}
.elementor-control.elementor-control-style .elementor-choices .elementor-choices-label i::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
}
.elementor-control.elementor-control-style .elementor-choices input+.elementor-choices-label:hover i::before,
.elementor-control.elementor-control-style .elementor-choices input:checked+.elementor-choices-label i::before {
    opacity: 1;
}
/** === Slider Styles === **/
.docs-1::before {
    background: url("../images/el-editor-preview/docs-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.docs-2::before {
    background: url("../images/el-editor-preview/docs-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.docs-3::before {
    background: url("../images/el-editor-preview/docs-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.docs-4::before {
    background: url("../images/el-editor-preview/docs-4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.docs-5::before {
    background: url("../images/el-editor-preview/docs-5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}


/** === Single Doc === **/
.single-doc1::before {
    background: url("../images/el-editor-preview/single-doc1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.single-doc2::before {
    background: url("../images/el-editor-preview/single-doc2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.single-doc3::before {
    background: url("../images/el-editor-preview/single-doc3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.single-doc4::before {
    background: url("../images/el-editor-preview/single-doc4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.single-doc5::before {
    background: url("../images/el-editor-preview/single-doc5.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
/** === Forum Topics === **/
.forums1::before {
    background: url("../images/el-editor-preview/forums1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.forums2::before {
    background: url("../images/el-editor-preview/forums2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.single_forum_1::before {
    background: url("../images/el-editor-preview/forums3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.single_forum_2::before {
    background: url("../images/el-editor-preview/forums4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/** === Forum Topics === **/
.topic1::before {
    background: url("../images/el-editor-preview/topic1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.topic2::before {
    background: url("../images/el-editor-preview/topic2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/** === Forum Topics === **/
.testimonial1::before {
    background: url("../images/el-editor-preview/testimonial1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.testimonial2::before {
    background: url("../images/el-editor-preview/testimonial2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/** === Video Playlist === **/
.video-playlist::before {
    background: url("../images/el-editor-preview/video-playlist.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.video-playlist2::before {
    background: url("../images/el-editor-preview/video-playlist2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/** === FAQ === **/
.faq1::before {
    background: url("../images/el-editor-preview/faq1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.faq2::before {
    background: url("../images/el-editor-preview/faq2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.faq3::before {
    background: url("../images/el-editor-preview/faq3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
/* Video Playlist widget CSS */
.elementor-control-se-video-upload > .elementor-control-content > .elementor-button-wrapper{
    display: none;
}

 
.elementor-control-se-video-upload > .elementor-control-content > .elementor-repeater-fields-wrapper > .elementor-repeater-fields:not(:first-child)> .elementor-repeater-row-tools > .elementor-repeater-tool-remove { 
    display: table-cell; 
}

/*==================== Widget Preview Icon =====================*/
.elementor-panel .elementor-element .icon .se-icon::after {
    content: url("../images/el-editor-preview/se-icon.svg");
    background-repeat: no-repeat;
    opacity: .5;
    position: absolute;
    top: 5px;
    right: 5px;
}