.elementor-control-raw-html.elementor-warning {
    padding: 10px;
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
    line-height: 1.4;
}

.elementor-control-raw-html.elementor-warning {
    padding: 10px;
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
    line-height: 1.4;
}

/** === Style Variations === **/
.elementor-control.elementor-control-style.elementor-control-type-choose.elementor-label-inline .elementor-control-input-wrapper,
.elementor-control.elementor-control-style .elementor-control-content,
.elementor-control.elementor-control-style .elementor-control-field {
    display: block;
}
.elementor-control.elementor-control-style.elementor-control-type-choose.elementor-label-inline .elementor-control-input-wrapper {
    margin-left: 0;
}
.elementor-control.elementor-control-style.elementor-control-type-choose label.elementor-control-title {
    padding-bottom: 10px;
    display: block;
}
.elementor-control.elementor-control-style .elementor-choices {
    display: block;
    height: auto;
    width: 266px;
}
.elementor-control.elementor-control-style .elementor-choices .elementor-choices-label {
    display: block;
    width: 266px;
    height: 110px;
}
.elementor-control.elementor-control-style .elementor-choices input:checked+.elementor-choices-label {
    border-width: 2px;
    padding-right: 2px;
}
.elementor-control.elementor-control-style .elementor-choices label:not(:first-of-type) {
    margin-top: 10px;
}
.elementor-control.elementor-control-style .elementor-choices .elementor-choices-label:hover {
    border: 1px solid #6d7882;
}
.elementor-control.elementor-control-style .elementor-choices .elementor-choices-label i {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}
.elementor-control.elementor-control-style .elementor-choices .elementor-choices-label i::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
}
.elementor-control.elementor-control-style .elementor-choices input+.elementor-choices-label:hover i::before,
.elementor-control.elementor-control-style .elementor-choices input:checked+.elementor-choices-label i::before {
    opacity: 1;
}

/** === Testimonials === **/
.testimonial1::before {
    background: url("../images/el-editor-preview/testimonial1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.testimonial2::before {
    background: url("../images/el-editor-preview/testimonial2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.testimonial3::before {
    background: url("../images/el-editor-preview/testimonial3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.testimonial4::before {
    background: url("../images/el-editor-preview/testimonial4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.testimonial5::before {
    background: url("../images/el-editor-preview/testimonial5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.testimonial6::before {
    background: url("../images/el-editor-preview/testimonial6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.testimonial7::before {
    background: url("../images/el-editor-preview/testimonial7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.testimonial8::before {
    background: url("../images/el-editor-preview/testimonial8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.testimonial9::before {
    background: url("../images/el-editor-preview/testimonial9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.testimonial10::before {
    background: url("../images/el-editor-preview/testimonial10.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/* team Carousel  */
.team1::before{
    background: url("../images/el-editor-preview/team1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.team2::before{
    background: url("../images/el-editor-preview/team2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/* integration  */
/* team Carousel  */
.integration1::before{
    background: url("../images/el-editor-preview/integration1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.integration2::before{
    background: url("../images/el-editor-preview/integration2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*===== blog grid ===== */
.blog-grid1::before{
    background: url("../images/el-editor-preview/blog1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.blog-grid2::before{
    background: url("../images/el-editor-preview/blog2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.blog-grid3::before{
    background: url("../images/el-editor-preview/blog3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.blog-grid4::before{
    background: url("../images/el-editor-preview/blog4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.blog-grid5::before{
    background: url("../images/el-editor-preview/blog5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/** === Video Playlist === **/
.video-playlist::before {
    background: url("../images/el-editor-preview/video-playlist.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.video-playlist2::before {
    background: url("../images/el-editor-preview/video-playlist2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/* image hover style  */
.himage1{
    background: url("../images/el-editor-preview/image-hover2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.himage2{
    background: url("../images/el-editor-preview/image-hover1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/* Marquee Slides */
.marquee1{
    background: url("../images/el-editor-preview/marquee1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.marquee2{
    background: url("../images/el-editor-preview/marquee2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}


/*==================== Widget Preview Icon =====================*/
.elementor-panel .elementor-element .icon .spe-icon::after {
    content: url("../images/el-editor-preview/se-icon.svg");
    background-repeat: no-repeat;
    opacity: .5;
    position: absolute;
    top: 5px;
    right: 5px;
}

/**=== Badge Text ===**/
.spe-text-badge-control {
    background-color: #A77DEF;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    border-radius: 2px;
    padding: 3px 4px;
    margin-left: 5px;
    vertical-align: middle;
}