div[data-type~="typography"], div[data-type~="padding"], div[data-type~="margin"]{
    padding: 10px !important;
    border: 1px solid #c5c5c5 !important;
}


div[data-type~="typography"] .acf-field-range .acf-range-wrap{
    display: grid;
    grid-template-columns: 50% 30% 20%;
}



.acf-field-padding .acfb-padding,
.acf-field-margin .acfb-margin{
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;

}

.acf-field-padding .acfb-padding .acf-range-wrap input,
.acf-field-margin .acfb-margin .acf-range-wrap input{
  margin-left: 0; 
}

.acfb_pannel_eye{
    position: absolute;
    top: -22px;
    right: 0;
}

.acfb_pannel_eye svg{
    width: 17px;
    height: 19px;
}


.acfb-checkbox-true-false[type=checkbox]{
  display:none;
}

.acfb-checkbox-true-false[type=checkbox] + label{
  height: 16px;
  width: 16px;
  fill: #444;
}

.acfb-checkbox-true-false[type=checkbox]:checked + label{
  height: 16px;
  width: 16px;
  fill: #444;
}

.acfb_eye_svg{
  position: absolute;
  top: -21px;
  right: 0;
  width: 15px;
  height: 15px;
}