/*
Docy Footnotes
*/
/* tabs design */
.tab_shortcode {
  margin-bottom: 50px;
}
.tab_shortcode .nav-tabs {
  border: 0;
}
.tab_shortcode .nav-tabs .nav-item {
  margin: 0;
}
.tab_shortcode .nav-tabs .nav-item .nav-link.active {
  background: #fff;
  color: #242729;
}
.tab_shortcode .nav-tabs .nav-item .nav-link {
  font-size: 16px;
  color: #6b707f;
  border-radius: 0;
  padding: 9px 20px;
  background: #f9f9f9;
  border: 0;
  border-left: 1px solid #ebebeb;
  position: relative;
  text-decoration: none;
}
.tab_shortcode .nav-tabs .nav-item .nav-link.active:before {
  opacity: 1;
  width: 100%;
}
.tab_shortcode .nav-tabs .nav-item .nav-link:before {
  content: "";
  width: 0;
  height: 2.1px;
  background: #4C4CF1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: width .2s linear;
}

.tab_shortcode .tab-content {
  color: #6b707f;
  padding: 25px 30px;
  border: 1px solid #ebebeb;
  border-radius: 0 5px 5px;
  background-color: #fff;
}

.header_tab_items {
  background: #1d2746;
  transition: all 300ms linear 0s;
}

.header_tab_items .nav.nav-tabs li {
  margin-bottom: 0;
}
.header_tab_items .nav.nav-tabs li {
  margin-bottom: 0;
}
.header_tab_items .nav.nav-tabs li a {
  border: none;
  box-shadow: none;
  background: transparent;
  border-radius: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  padding: 7px 30px;
  text-decoration: none;
  transition: all 300ms linear 0s;
}
.header_tab_items .nav.nav-tabs li a.active {
  background-color: #fff;
  color: #0044c0;
}

body.admin-bar .header_tabs_area.tab_fixed .header_tab_items {
  top: -38px;
}
.header_tabs_area.tab_fixed .header_tab_items {
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  background: #1d2746;
  -webkit-transform: translateY(70px);
  -ms-transform: translateY(70px);
  transform: translateY(70px);
  -webkit-transition: background 500ms ease, -webkit-transform 500ms ease;
  transition: background 500ms ease, -webkit-transform 500ms ease;
  -o-transition: transform 500ms ease, background 500ms ease;
  transition: transform 500ms ease, background 500ms ease;
  transition: transform 500ms ease, background 500ms ease, -webkit-transform 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  z-index: 30;
}